/* Container styles*/
body {
    background-color: gray;
}

#book_info_outer_container {
    
    background-color: lightgray;
    border-radius: 10px;
    border: 3px solid white;
    box-shadow: 3px 3px 3px black;
    padding: 1rem;
    margin: .5rem;
}

#book_info_display_container {
    border-radius: 10px;
    background-color: bisque;
    box-shadow: 3px 3px 3px black;
    padding: .5rem; 
    margin: 1rem;
}

#book_info_edit_container {
    border-radius: 10px;
    background-color: bisque;
    box-shadow: 3px 3px 3px black;
    padding: .5rem;
    margin: 1rem;
}

#book_quick_card_container{
    background-color: lightgray;
    border: 3px solid white;
    box-shadow: 3px 3px 3px black;
    border-radius: 10px;
    padding: 1rem;
    margin: .5rem;
}

/* Card style*/

.bookCard {
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    margin: .5rem;
    padding: .5rem;
}




input {
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: .25rem;
    margin: .5rem;
}

button {
    border: 1px solid lightblue;
    border-radius: 5px;
    background-color: orange;
}

ul {
    margin: 1rem;
}

#book_data_submit {
    margin: .5rem;
}


#book_action_buttons {
    margin: .5rem;
}



#book_quick_card_list {
    border: 1px solid blue;
    padding: 1rem;
    margin: .5rem;
}


.hiddenInfo {
    display: none;
    
}